[Unit]
Description= My {{ app_name }}
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=java -Dserver.port=80 -jar {{ app_dir }}/{{ app_name }}.jar
Restart=always

[Install]
WantedBy=multi-user.target